@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poetsen+One&display=swap');

body{
    margin: 0 0;
    display: flex;
    flex-wrap: wrap;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.2rem;
}

.banner {
    width: 100%;
    height: 50vh;
    background-color: #2e86de !important;
}

.banner>h1 {
    color: #fff;
    text-align: center;
    justify-items: center;
    font-size: 10rem;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu {
    width: 100%;
    background-color: #c8d6e5;
    line-height: 4rem;
}

.links {
    margin: 1rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: #2e86de;
    font-weight: 400;
}

.mt-5 {
    margin-top: 3.5rem !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    width: 100%;
}

.border {
    border: 0.1rem solid #8395a7;
    border-radius: 0.3rem;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w100 {
    width: 100%;
}

.table {
    width: 100%;
    line-height: 1.5rem;
}
.img-fluid {
    width: 100%;
    border-radius: 0.3rem;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 1.5rem;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center !important;
}

.btn {
    width: 4rem;
    line-height: 2rem;
    border: none;
    border-radius: 0.2rem;
}

.btn-block {
    width: 100% !important;
}

.btn-blue {
    background-color: #341f97;
    color: #fff;
}

.btn-blue:hover {
    background-color: #2e86de;
}

.btn-yellow {
    background-color: #ff9f43;
    color: #fff;
}

.btn-yellow:hover {
    background-color: #feca57;
}

.btn-red {
    background-color: #ee5253;
    color: #fff;
}

.btn-red:hover {
    background-color: #ff6b6b;
}

/* Css do Login */
.body-login{
    background-color: #7e7474;
}

.container-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.form-login{
    background-color: #ccc;
    border: 0.1rem solid #000;
    border-radius: 0.2rem;
    padding: 1.5rem 3rem;
}

.title-login{
    text-align: center;
    font-size: 2rem;
}

.div-input{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.div-input input{
    border: none;
    padding: 0.3rem;
}

.div-btn-login{
    text-align: center;
}

.btn-login{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    padding: 0.6rem 30%;
}
.btn-login:hover{
    background-color: #5b5b5b;
    color: #fff;
    transition: 0.2s;
}