<div class="w60">
    <h4>Gerenciamento de Notícias</h4>
</div>

<div class="w30">
    <button class="btn btn-block">
        <i class="fa-solid fa-circle-plus"></i>Novo Registro
    </button>
</div>

<div class="w100">
    <table class="table">
        <thead>
            <th scope="col" class="text-center">Código</th>
            <th scope="col">Nome</th>
            <th scope="col"class="text-center">Ações</th>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">01</td>
                <td>Teste Teste Teste</td>
                <td class="text-center">
                    <button class="btn btn-blue btn-view"><i class="fa-solid fa-eye"></i></button>
                    <button class="btn btn-yellow btn-edit"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-red btn-delete"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="frontend/screens/controllers/controllerNoticia.js"></script>